<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= HomePage %></title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css" integrity="sha512-aqT9YD5gLuLBr6ipQAS+72o5yHKzgZbGxEh6iY8lW/r6gG14e2kBTAJb8XrxzZrMOgSmDqtLaF76T0Z6YY2IHg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css"></head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success ">
        <div class="container">
            <a href="#" class="navbar-brand">Jolly Jingles</a>
            <button class="navbar-toggler" data-bs-target="#my-nav"
            data-bs-toggle="collapse" aria-controls="my-nav" aria-expanded="false"
            aria-label="Toggler navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mas-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index"><i class="fas fa-light fa-user me-1"></i>User</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/index/products"><i class="fas fa-light fa-box-open me-1"></i></i>Product</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/index/add"><i class="fas fa-user-plus me-1"></i>Add User</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/index/addproduct"><i class="fas fa-user-plus me-1"></i>Add Product</a>
                    </li>

                    <!-- <li class="nav-item active">
                        <a class="nav-link" herf="#"><i class="fas fa-globe me-1"></i>About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-envelope me-1"></i>Contact</a>
                    </li> -->
                </ul>

            </div>
        </div>
    </nav>
