<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
    <title>Jolly Jingles - Xmas Joy</title>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="/main.css">
    <!-- link icon -->
    <link rel="icon" type="image/png" href="images/icon.png" />
    <!-- link icon -->
	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v5.15.4/css/all.css">
    <!-- link icon -->
    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"

      href="/css/app-wa-8d95b745961f6b33ab3aa1b98a45291a.css?vsn=d"
    >

      <link
        rel="stylesheet"

        href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css"
      >

      <link
        rel="stylesheet"

        href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css"
      >

      <link
        rel="stylesheet"

        href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css"
      >

      <link
        rel="stylesheet"

        href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css"
      >
	<link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome" href="/css/app-wa-8d95b745961f6b33ab3aa1b98a45291a.css?vsn=d">

	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">

	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css">

	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css">

	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css">
	<!--===============================================================================================-->
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body1>
    <div class="container">
        <form action="/login" method="POST">
            <input type="checkbox" id="flip">
            <div class="cover">
                <div class="front">
                    <img src="images/icon.png" alt="">
                </div>
                <div class="back">
                    <img class="backImg" src="images/background-image.png" alt="">
                    <div class="text">
                        <span class="text-1">Complete miles of journey <br> with one step</span>
                        <span class="text-2">Let's get started</span>
                    </div>
                </div>
            </div>
            <div class="forms">
                <div class="form-content">
                    <div class="login-form">
                        <div class="title">Login</div>
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fa-duotone fa-solid fa-user" style="--fa-primary-color: #16423C; --fa-secondary-color: #4eb5a7;"></i>
                                <input type="email" id="email" name="email" placeholder="Enter your Email" required>
                            </div>
                            <div class="input-box">
                                <i class="fa-duotone fa-solid fa-lock" style="--fa-primary-color: #16423C; --fa-secondary-color: #4eb5a7;"></i>
                                <input type="password" id="pass" name="pass" placeholder="Enter your password" required>
                            </div>

                            <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
                                <div class="error-message" style="color: red; font-size: 14px; margin-bottom: 10px;">
                                    <%= errorMessage %>
                                </div>
                            <% } %>

                            <div class="button input-box">
                                <input type="submit" name="signin" value="Sign In" class="sign-btn">
                            </div>
                            <div class="text sign-up-text cl14">Don't have an account? <a href="register">Sign up
                                    now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body1>


</html>